.table > thead > tr {
  th,
  td {
    background-color: #EBECED;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}
